@import "./variables.scss";

.home-left-screen {
    @include flex-centered;
    flex-direction: column;
    position: fixed;
    margin-top: 20vh;
    margin-left: 40vw;
}

.home-page-title {
    font-weight: $header-font-weight;
    font-size: $header-font-size ;
    span {
        font-size: 2.8vw;
        font-weight: 700;
    }
}

.home-page-register {
    position: fixed;

    a {}
}

.login-form-container {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;   
    height: 32vh;
    width: 23vw;
}