@import "./variables.scss";

.resister-left-screen {
    width: 65vw;
    height: 100vh;
    margin-top: 0;
    margin-left: 15vw;
    transform: none ;
    border-radius: 0;
}

.resister-form-container {
    height: 82vh !important;
    width: 30vw;
}
