@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$white: #FFFFFF;
$black: 000000;
$generic-btn-color: #2fadcc;
$generic-btn-hover-color: #448ea0;
$general-font-family: 'Source Sans Pro', sans-serif;
$general-font-weight: 400;
$header-font-weight: 600;   
$general-font-size: 1.8vw;
$sub-header-font-size: 2vw;
$header-font-size: 2.7vw;
$t: #f0a336;

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

:export {
    genericBtnColor: $generic-btn-color;
    genericBtnHoverColor: $generic-btn-hover-color;
    t:$t
}